<div class="jumbotron">
  <h1><center>GroopMe</center></h1>
  <h3><center>business login</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 sign-in">
      <form class="create-update-form" action="/" method="POST">
        <center>
          <div class="form-group">
            <label for="user-email">email:</label>
            <input type="text" id="email" name="user-email"><br/>
          </div>
          <div class="form-group">
            <label for="user-password">password:</label>
            <input type="text" id="pw" name="user-password"><br>
            <button type="submit" id="submit">log in</button>
        </center>
      </form>
      </div>
    </div>
  </div>
</div>
