<div class="jumbotron">
  <h1><center>GroopMe</center></h1>
</div>
<div class="container">
  <div class="row">
    <div class ="col-lg-4 sign-in">
      <h2><center>sign in</center></h2>
      <center>
        <form method="GET" action="user-login">
        <button type="submit" id="user">user</button>
      </form>
        <form method="GET" action="business-login">
        <button type="submit" id="biz">business</button>
      </form>
      </center>
      </div>
      <div class="col-lg-4 OR">
      <h2><center>or</center></h2>
    </div>
    <div class="col-lg-4 create-account">
      <h2><center>create account</center></h2>
      <center>
        <form method="GET" action="/new-user">
        <button type="submit" id="user">user account</button>
      </form>
        <form method="GET" action="new-business">
        <button type="submit" id="biz">business account</button>
      </form>
      </center>
    </div>
  </div>
