<div class="jumbotron">
  <div class="biz-tabs">
    <ul id="tabs">
      <li>
        <form class="create-update-form" action="/business" method="GET">
          <button type="submit" class="btn btn-primary user-settings">home</button>
        </form>
      </li>
      <li>
        <form class="create-update-form" action="/my-business" method="GET">
          <button type="submit" class="btn btn-primary user-settings">my account</button>
        </form>

      </li>
      <li>
        <form class="create-update-form" action="/logout" method="GET">
          <button type="submit" class="btn btn-primary logout">log out</button>
        </form>
      </li>
    </ul>
        </div>
  <form class= "home" action="/business" method="GET"><center><button><h1>GroopUp</h1></button></center></form>
  <h3><center>create an event</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class ="col-lg-12 new-event">
      <center>

      <table class="event-table">
  <form class="create-update-form" action="new-event" method="POST">
    <center>
      <div class="form-group">
        <tr>
          <td>
            title:
          </td>
          <td>
            <input type="text" id="title" name="title" required>
          </td>
        </tr>
        <tr>
          <td>
            location:
          </td>
          <td>
            <input type="text" id="local" name="location" required><br>
          </td>
        </tr>
        <tr>
          <td>
            date:
          </td>
          <td>
          <input placeholder="MM/DD/YYYY" type="text" id="time" name="date" pattern="\d{1,2}/\d{1,2}/\d{4}" required><br>
          </td>
        </tr>
        <tr>
          <td>
            time:
          </td>
          <td>
          <input placeholder="HH:mmAM" type="text" id="time" name="time" required><br>
          </td>
        </tr>
        <tr>
          <td>
            add photo:
          </td>
          <td>
            <input type="url" id="picture" name="picture" required><br>
          </td>
        </tr>
      <tr>
        <td>
          set attendance cap:
        </td>
        <td>
          <input type="number" size="6" name="attendance_cap" min="2" max="500" value="0" required><br/>

        </td>
      </tr>
      <tr>
        <td colspan="2">
          <center>
          <button type="submit" class="btn btn-primary" id="submit">create event</button>
          </center>
        </td>
      </tr>
    </table>

  </center>
    </div>
    </div>
    </form>
    </div>
  </div>
  <div class="container footer">
    <center>
      <a href="mailto:contact@groopup.com" target="_top"><font color="white">contact@groopup.com</font></a>
  </div>
