<div class="jumbotron">
  <form class= "home" action="/business" method="GET"><center><button><h1>GroopUp</h1></button></center></form>
  <h3><center>create an event</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class ="col-lg-12 new-event">
      <center>

      <table class="event-table">
  <form class="create-update-form" action="new-event" method="POST">
    <center>
      <div class="form-group">
        <tr>
          <td>
            title:
          </td>
          <td>
            <input type="text" id="title" name="title">
          </td>
        </tr>
        <tr>
          <td>
            location:
          </td>
          <td>
            <input type="text" id="local" name="location"><br>
          </td>
        </tr>
        <tr>
          <td>
            date:
          </td>
          <td>
          <input placeholder="MM/DD/YYYY" type="text" id="time" name="date"><br>
          </td>
        </tr>
        <tr>
          <td>
            time:
          </td>
          <td>
          <input type="text" id="time" name="time"><br>
          </td>
        </tr>
        <tr>
          <td>
            add photo:
          </td>
          <td>
            <input type="text" id="picture" name="picture"><br>
          </td>
        </tr>
      <tr>
        <td>
          set attendance cap:
        </td>
        <td>
          <input type="text" id="att" name="attendance_cap"><br>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <center>
          <button type="submit" class="btn btn-primary" id="submit">create event</button>  
          </center>
        </td>
      </tr>
    </table>

  </center>
    </div>
    </div>
    </form>
    </div>
  </div>
</div>
