<div class="jumbotron">
  <h1><center>GroopUp</center></h1>
  <h3><center>new account</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 new-user-info">
      <table class="new-account">
      <form class="create-update-form" action="/survey" metdod="POST">
        <div class="form-group">
        <tr>
            <td>
              email:
            </td>
            <td>
              <input type="text" id="email" name="email">
            </td>
        </tr>
        <tr>
            <td>
              password:
            </td>
            <td>
              <input type="password" id="pw" name="password"><br>
            </td>
        </tr>
        <tr>
          <td>
            first name:
          </td>
            <td>
            <input type="text" id="pw" name="firstname"><br>
          </td>
        </tr>
        <tr>
        <td>
          last name:
        </td>
          <td>
        <input type="text" id="pw" name="lastname"><br>
          </td>
        </tr>
      <tr>
        <td>
          age:
        </td>
        <td>
          <input type="text" id="age" name="age"><br>
        </td>
      </tr>
      <tr>
        <td>
          sex:
        </td>
        <td>
          <!-- <div class="form-group"> -->
          <input type="radio" name="sex" value="0" checked> male<br>
          <input type="radio" name="sex" value="1"> female<br>
          <input type="radio" name="sex" value="">other<br>
        </td>
      </tr>
      <tr>
        <td>
          bio:
        </td>
        <td>
          <textarea type="text" id="pw" name="bio"></textarea><br/>
        </td>
      </tr>
      <tr>
      <td>
        photo url:
      </td>
      <td>
      <input type="text" id="pic" name="picture"><br>
      </td>
      </tr>
      <tr>
        <td colspan="2">
          <center>
            <button type="submit" class="btn btn-primary" id="submit">continue</button>
          </center>
        </td>
      </tr>
          </table>
    </div>
    </form>
  </div>

</div>
<div class="container footer">
</div>
