<div class="jumbotron">
  <h1><center>GroopUp</center></h1>
  <h3><center>create account</center></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 quiz">
      <form role="form">
        <div id="Q1">
          You enjoy checking out new spots in town.<br>
          <div class="form-check form-check-inline">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="first-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="first-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="first-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="first-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="first-question" id="inlineRadio5" value="5">
                </label>5

          </div>
        </div>
        <div id="Q2">
          Your favorite Friday night is out clubbing.
          <div class="form-check form-check-inline">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="second-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="second-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="second-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="second-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="second-question" id="inlineRadio5" value="5"></input>
                </label>5
          </div>
        </div>
        <div id="Q3">
          You spend a lot of your free time in nature.
          <div class="form-check form-check-inline">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="third-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="third-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="third-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="third-question" id="inlineRadio4" value="4">
                </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="third-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <div id="Q4">
          You enjoy checking out new group fitness classes.
          <div class="form-check form-check-inline">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <div id="Q5">
          Your favorite thing to do after work is go to happy hour.
          <div class="form-check form-check-inline">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <div id="Q6">
          It is important to you to see the newest movies.
          <div class="form-check form-check-inline">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <div id="Q7">
          You love watching sports and going to sporting events.
          <div class="form-check form-check-inline">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <div id="Q8">
          You're always on Ticketmaster looking for the next concert in town.
          <div class="form-check form-check-inline num8">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <div id="Q9">
          Your favorite way to spend time with friends is at a small dinner party.
          <div class="form-check form-check-inline num9">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <div id="Q10">
          You could talk about your favorite TV shows all day.
          <div class="form-check form-check-inline num10">
            1<label class="form-check-label">
                  <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio1" value="1">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio2" value="2">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio3" value="3">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio4" value="4">
                  </label>
            <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio5" value="5">
                </label>5
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg" id="submit">submit</button></a>
      </form>
    </div>
    <center><button type="submit" id="submit">create account</button></center>
  </div>
</div>
