<div class="jumbotron"><div class="biz-tabs">
  <ul id="tabs">
    <li>
      <form class="create-update-form" action="/user" method="GET">
        <button type="submit" class="btn btn-primary user-settings">home</button>
      </form>
    </li>
    <li>
      <form class="create-update-form" action="/my-account" method="GET">
        <button type="submit" class="btn btn-primary user-settings">my account</button>
      </form>

    </li>
    <li>
      <form class="create-update-form" action="/logout" method="GET">
        <button type="submit" class="btn btn-primary logout">log out</button>
      </form>
    </li>
  </ul>
      </div>
<form class= "home" action="/" method="GET"><center><button><h1>GroopUp</h1></button></center></form>  <h3><center>create account</center></h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 quiz">
          <center>
            <h4>answer each question where 1 is least like you and 5 is most like you</h4>
          </center>
            <form role="form">
                <div id="Q1"><center>
                    You enjoy checking out new spots in town.<br/>

                    <div class="form-check form-check-inline">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="first-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="first-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="first-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="first-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="first-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q2">
                    <center>

                    Your favorite Friday night is out clubbing.<br/>
                    <div class="form-check form-check-inline">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="second-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="second-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="second-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="second-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="second-question" id="inlineRadio5" value="5"></input>
                        </label>5
                    </div>
                </div>
                <div id="Q3">
                    <center>You spend a lot of your free time in nature.<br/>
                    <div class="form-check form-check-inline">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="third-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="third-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="third-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="third-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="third-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q4">
                    <center>You enjoy checking out new group fitness classes.<br/>
                    <div class="form-check form-check-inline">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fourth-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q5">
                  <center>  Your favorite thing to do after work is go to happy hour.<br/>
                    <div class="form-check form-check-inline">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="fifth-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q6">
                    <center>It is important to you to see the newest movies.<br/>
                    <div class="form-check form-check-inline">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="sixth-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q7">
                    <center>You love watching sports and going to sporting events.<br/>
                    <div class="form-check form-check-inline">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="seventh-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q8">
                    <center>You're always on Ticketmaster looking for the next concert in town.<br/>
                    <div class="form-check form-check-inline num8">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="eighth-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q9">
                    <center>Your favorite way to spend time with friends is at a small dinner party.<br/>
                    <div class="form-check form-check-inline num9">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="ninth-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <div id="Q10">
                    <center>You could talk about your favorite TV shows all day.<br/>
                    <div class="form-check form-check-inline num10">
                        1
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio1" value="1">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio2" value="2">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio3" value="3">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio4" value="4">
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="tenth-question" id="inlineRadio5" value="5">
                        </label>5
                    </div>
                </div>
                <br><center>
                <button type="button" action="/user" class="btn btn-primary btn-lg" id="quiz">submit</button>
</center>
            </form>
        </div>

    </div>
</div>
<div class="container footer">
  <center>
    <a href="mailto:contact@groopup.com" target="_top"><font color="white">contact@groopup.com</font></a>
</div>
