body {
  /*background: linear-gradient(to bottom, #41f4f1 , #42a1f4 );*/
  height: 100%;
  font-family: 'Montserrat', sans-serif;

}

.container {

  margin: auto;
  width: 100%;

}


.jumbotron {
  background: linear-gradient(to bottom, #41f4f1 , #42a1f4 );
  /*background-color: rgba(25, 14, 233, 0);*/
  color: rgb(22, 184, 34);
  border-radius: 0;
}
.mybusiness {
 width: 900px;
  height: 500px;
  margin: auto;
}
.events {

  width: 950px;
  margin: auto;
}
h1 {
    font-size: 80px;
    font-family: 'Quicksand', sans-serif;

}

.search {
  text-align: center;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
}
button {
  background-color: rgba(25, 14, 233, 0);
  border-color: rgba(25, 14, 233, 0);
  color: rgb(22, 184, 34);
}
.logins-user {
  width: 250px;
  margin-top: -55px;
  float: right;
}
.logins-user {
  width: 250px;
  margin-top: -55px;
  float: right;
}
.logins {
  width: 200px;
  margin-top: -55px;
  float: right;
}
.placeholder {
  font-family: 'Quicksand', sans-serif;
}
.new-event {
  width: 500px;
  margin: auto;
}

.myevents {
  width: 250px;


}
.new-biz, .new-event {
  height: 400px;
  margin: auto;

}
.new-user-info {
  height: 600px;
  margin: auto;
}

.quiz {
  height: 700px;
  width: 500px;
  margin: auto;
}
.update-biz {
  width: 250px;
}
.new-account, .new-biz-info {
  margin: auto;
}
td {
  padding: 10px;
}
.footer {
  background: linear-gradient(to bottom, #42a1f4 , #41f4f1 );
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
  padding-top: 30px;
}
.biz-tabs {
  /*width: 450px;*/
  margin-top: -55px;
  float: right;}

#tabs li {
  display: inline-block;
  list-style-type: none;

}
#tabs-user li {
  display: inline-block;
  list-style-type: none;

}

#eventlist li {
  display: inline-block;
  list-style-type: none;
  padding-right: 25px;
}
#eventinfo li {
  display:list-item;
  list-style-type: none;

}
.eventpic {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(22, 184, 34);
  font-family: 'Montserrat', sans-serif;

}
.eventpic:hover .overlay {
opacity: .8;

}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.home {
  width: 100%;
  margin: auto;
}
/*.continue {
  padding-left: 80px;
}*/
